[Unit]
Description=WiFi Setup Python Web UI
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/webUI/KioskWebUI/wifi-setup/python
ExecStart=/opt/webUI/KioskWebUI/wifi-setup/python/venv/bin/python /opt/webUI/KioskWebUI/wifi-setup/python/app.py
Restart=on-failure
User=nwadmin

[Install]
WantedBy=multi-user.target
